.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #FFF;
}
.header.open{
    height: 100vh;
}
.header-top{
    background-color: var(--main-color);
    padding: 16px 0px;
    font-size: 14px;
}

.header-top .container{
    display: flex;
    justify-content: space-between;
}

.contact-list{
    display: flex;
    gap: 32px;
}

.contact-list li{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFF;
    border-bottom: 1px solid transparent;
}

.contact-list a:hover{
    border-bottom: 1px solid #FFF;
    transition: border-bottom .3s ease-in-out;
}

.social-list li{
   display: inline-flex;
   align-items: center;
   gap: 10px;
   color: #FFF;
}

.social-list a{
    height: 24px;
}

.header-top button{
    display: none;
}
.header-bottom {
    padding: 16px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 175px;
    height: 71px;
}
.header-bottom nav{
    display: flex;
    gap: 40px;
}

.header-bottom nav a{
    border-bottom: 1px solid transparent;
    font-size: 18px;
}
.header-bottom nav a:hover{
    border-bottom: 1px solid var(--main-color);
    transition: border-bottom .3s ease-in-out;
}

.header__burger-btn{
    display: none;
    width: 32px;
    height: 32px;
    position: relative;
}

.header__burger-btn span{
    position: absolute;
    width: 24px;
    height: 3px;
    background-color: var(--main-color);
    left: 4px;
    top: 14px;
    transition: transform .3s ease-in-out;
}

.header__burger-btn span:nth-child(1){
    transform: translateY(-7px);
}

.header__burger-btn span:nth-child(3){
    transform: translateY(7px);
}

.header.open .header__burger-btn span:nth-child(2){
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(1){
    transform: rotate(45deg);
    background-color: var(--main-color);
}

.header.open .header__burger-btn span:nth-child(3){
    transform: rotate(-45deg);
    background-color: var(--main-color);
}
@media (max-width: 1370px) {
    .header-bottom{
        gap: 20px;
    }
    .header-bottom nav{
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header-bottom nav a{
        font-size: 16px;
    }
}

@media (max-width: 1100px) {
    .header-top .contact-list{
        flex-wrap: wrap;
    }
}

@media (max-width: 800px) {
    .header__burger-btn{
        display: block;
    }
    .header-top{
        width: 100%;
        background-color: #FFF;
        color: var(--main-color);
        position: absolute;
        bottom: 100px;
        left: -100%;
        transition: left .3s ease-in-out;
        z-index: 20;
    }
    .header-top .container{
        flex-direction: column;
        gap: 24px;
    }

    .contact-list{
        flex-direction: column;
        gap: 11px;
    }

    .header-top .contact-list a{
        gap: 8px;
    }
    .header-top .contact-list img{
        width: 24px;
        height: 24px;
    }

    .header-top .contact-list svg path{
        stroke: black;
    }
    .header-top .contact-list li{
        color: var(--main-color);
    }

    .header-top .social-list li{
        color: var(--main-color);
    }
    .header-top .social-list svg path {
        fill: var(--main-color);
    }

    .header-top button{
        display: block;
        margin-top: 16px;
    }

    .header-bottom nav{
        flex-direction: column;
        gap: 16px;
        position: absolute;
        top: 81px;
        left: -100%;
        transition: left .3s ease-in-out;
        z-index: 15;
        padding: 40px 16px;
        font-size: 16px;
        width: 100%;
        background-color: #FFF;
        justify-content: flex-start;
    }

    .header-bottom button{
        display: none;
    }

    .header.open .header-top,
    .header.open .header-bottom nav{
        left: 0;
    }
        
}

@media (max-width: 400px) {
    .logo img{
        width: 118px;
        height: 48px;
    }    

    .contact-list svg{
        flex-shrink: 0;
    }
}