.promo{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 587px;
    padding-bottom: 128px;
}
.ttl-bg{
    background-repeat: no-repeat;
    background-size: 85% 100%;
}

.promo h1{
    display: block;
    padding: 20px 36px 36px 0px;
}

@media (max-width: 1300px) {    
    .promo h1{
        font-size: 40px;
    }
}

@media (max-width: 1160px) {  
    .promo h1{
        font-size: 30px;
    }
    
}

@media (max-width: 880px) {
    .ttl-bg{
        background-size: 103% 100%;
    }
}
@media (max-width: 760px) {
    .ttl-bg{
        width: 100%;
    }

    .promo h1{
        font-size: 24px;
    }
}

@media (max-width: 505px) {
    .promo{
        padding: 0;
        padding-top: 160px;
        background-size: contain;
        background-position-y: 0;
        /* margin-top: 85px; */
    }

    .promo h1{
        padding: 16px 16px 36px 0px;
    }
    
}


@media (max-width: 385px) {
    .promo{
        padding-top: 140px;
    }
    
}